.page {
  background-color: #000000;
  max-width: 1280px;
  font-family: InterRegular400, Arial, Helvetica, sans-serif;
  padding: 45px 15.65% 60px 15.65%;
}

@media screen and (max-width: 425px) {
  .page {
    margin: 28px auto 36px auto;
  }  
}