.profile {
  display: flex;
  flex-direction: row;
  margin-bottom: 46px;
  color: white;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
}