.cards__item {
  width: 22vw;
  height: 30vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .cards__item {
    width: 90vw;
    height: 361px;
  }
}