.popup__close-button {
  width: 3.125vw;
  height: 3.125vw;
  border: none;
  background: none;
  align-self: flex-end;
}

@media screen and (max-width: 425px) {
  .popup__close-button {
    width: 8vw;
    height: 8vw; 
    margin-bottom: 13px;
  }
}