.profile__image {
  border-radius: 50%;
  max-width: 13vw;
  max-height: 10vw;
}

@media screen and (max-width: 768px) {
 .profile__image {
  max-width: 52vw;
  max-height: 40vw;
  margin-bottom: 26px;
 } 
}